/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style */
.header {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 2.4rem 1.5rem;
}

.header__logo img{
    width: 12.6rem;
}

.header__right-side{
    width: 100%;
    display: flex;
    justify-content: end;
}

#icon-close{
    position: absolute;
    margin-left: -0.13rem;
    opacity: 0;
    z-index: 0;
}

.header__right-side__list{
    position: absolute;
    top: 6rem;
    left: 0;
    background-color: #1D1C1E;
    width: 100%;
    height: 14.6rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    justify-content: space-between;
    z-index: -1;
    opacity: 0;
}

.header__right-side__list__link {
    list-style: none;
}

.header__right-side__list__link a{
    text-decoration: none;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bg__block{
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0;
    z-index:  -2;
}

.content__design-block{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../assets/web-design/desktop/bg-pattern-intro-web.svg"),
        #E7816B;
    background-position: right top;
    background-repeat: no-repeat;
    gap: 1.5rem;
}

.content__design-block h2{
    text-align: center;
    width: 20.4rem;
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    color: #fff;
}

.content__design-block p{
    text-align: center;
    width: 22rem;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
}

.content__examples{
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.content__examples__block{
    width: 20.4rem;
    height: 29.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__examples__block__image{
    width: 100%;
    height: 20rem;
}

.content__examples__block__image img{
    width: 100%;
    height: 20rem;
    border-radius: 15px 15px 0 0;
}

.content__examples__block__text{
    height: 9.8rem;
    background-color: #FDF3F0;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1.8rem;
}

.content__examples__block__text h2{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 26px;
    color: #E7816B;
}

.content__examples__block__text p{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #333136;
}

.content__projects{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.content__projects__block{
    width: 20.4rem;
    height: 15.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    border-radius: 15px;
}

.content__projects__block__title{
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.content__projects__block__view-project{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.content__projects__block__view-project a{
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

#app-design{
    background-image: url(../assets/home/mobile/image-app-design.jpg);
}

#graphic-design{
    background-image: url(../assets/home/mobile/image-graphic-design.jpg);
}

.content__git{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    margin-top: 6rem; 
    height: 23.6em;
    width: 20.4rem;
    border-radius: 15px;
    background: url(../assets/shared/desktop/bg-pattern-three-circles.svg),
        #E7816B;
    background-position: 80px -20px;
    background-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.content__git h2{
    width: 17.4rem;
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    color: #fff;
}

.content__git p{
    width: 17.4rem;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
}

.content__git button{
    margin-top: 1rem;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    color: #333136;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer{
    margin-top: 17.8rem;
    padding-top: 15.8rem;
    padding-bottom: 4rem;
    background-color: #1D1C1E;
}

.footer__logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.footer__logo img{
    width: 202px;
}

.footer__info{
    width: 20.4rem;
    margin: 0 auto;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 2.5rem;
}

.footer__info__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.footer__info__menu li a{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.footer__info__address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.footer__info__address__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__info__address__block h5{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: hsla(0, 0%, 100%, 0.5);
}

.footer__info__address__block p{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: hsla(0, 0%, 100%, 0.5);
}

.footer__info__social{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
}

.footer__info__social a{
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .header {
        height: 9.6rem;
        padding: 4rem 2.4rem;
        align-items: center;
    }

    .header__right-side{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .mobile{
        display: none;
        position: absolute;
    }

    .header__right-side__list{
        position: static;
        top: 0;
        left: 0;
        background: none !important;
        width: 22.1rem;
        padding: 0;
        height: 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 1.5rem;
        z-index: 1;
        opacity: 1;
        text-align: center;
    }

    .header__right-side__list__link a{
        color: #333136;
        font-size: 14px;
        line-height: 14px;
    }

    .content__design-block{
        width: 43rem;
        height: 15.75rem;
        margin: 0 auto;
        border-radius: 15px;
        background: url(../assets/web-design/desktop/bg-pattern-intro-web.svg),
            #E7816B;
        background-position: -10px -160px;
        gap: 0.8rem;
    }

    .more-block h2{
        width: 35.8rem;
        font-size: 48px;
        line-height: 48px;
    }

    .more-block p{
        width: 27.8rem;
        font-size: 16px;
        line-height: 26px;
    }

    .content__examples{
        margin: 7.5rem 0;
        gap: 2rem;
    }

    .content__examples__block{
        width: 43rem;
        height: 19.3rem;
        margin: 0 auto;
        flex-direction: row;
    }

    .content__examples__block__image{
        width: 21.1rem;
        height: 19.3rem;
    }
    
    .content__examples__block__image img{
        width: 21.1rem;
        height: 19.3rem;
        border-radius: 15px 0 0 15px;
    }
    
    .content__examples__block__text{
        height: 19.3rem;
        background-color: #FDF3F0;
        border-radius: 0 15px 15px 0;
        padding: 2rem;
    }
    
    .content__projects__block{
        width: 43rem;
        height: 12.5rem;
        gap: 1.5rem;
    }
    
    .content__projects__block__title{
        font-size: 40px;
        line-height: 48px;
    }
    
    #app-design{
        background-image: url(../assets/home/tablet/image-app-design.jpg);
    }
    
    #graphic-design{
        background-image: url(../assets/home/tablet/image-graphic-design.jpg);
    }
    
    .content__git{
        margin-top: 7.5rem; 
        height: 21.8em;
        width: 43rem;
        border-radius: 15px;
        background: url(../assets/web-design/desktop/bg-pattern-intro-web.svg),
            #E7816B;
        background-position: -150px -140px;
        background-size: 140%;

    }
    
    .content__git h2{
        width: 17.4rem;
        font-family: 'Jost', sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 36px;
        color: #fff;
    }
    
    .content__git p{
        width: 20.9rem;
    }
    
    .content__git button{
        margin-top: 1rem;
        width: 9.5rem;
        height: 3.5rem;
        border-radius: 8px;
        border: none;
        background-color: #fff;
        color: #333136;
        font-family: 'Jost', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    
    .footer{
        margin-top: 24rem;
        padding-top: 10.3rem;
        padding-bottom: 4rem;
        background-color: #1D1C1E;
    }
    
    .footer__logo{
        width: 43rem;
        margin: 0 auto;
        display: flex;
        align-items: start;
        justify-content: start;
        padding-bottom: 2.5rem;
    }
    
    .footer__info{
        width: 43rem;
        padding-top: 2.5rem;
        flex-direction: row;
        justify-content: start;
        gap: 2.5rem;
    }
    
    .footer__info__menu{
        width: 23.1em;
        position: absolute;
        margin-top: -16.4rem;
        margin-left: 19.9rem;
        flex-direction: row;
        justify-content: end;
        gap: 2rem;
    }
    
    .footer__info__address{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .footer__info__address__block{
        width: 13.9rem;
        display: flex;
        align-items: start;
        justify-content: start;
        text-align: start;
    }
    
    .footer__info__social{
        position: absolute;
        margin-top: 3rem;
        margin-left: 31.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (min-width: 900px){
    .header {
        width: 53rem;
        height: 9.6rem;
        padding: 4rem 0;
        margin: 0 auto;
        align-items: center;
    }

    .content__design-block{
        width: 53rem;
        height: 18rem;
        margin: 0 auto;
        border-radius: 15px;
        background: url(../assets/web-design/desktop/bg-pattern-intro-web.svg),
            #E7816B;
        background-position: -10px -160px;
        gap: 0.8rem;
    }

    .content__examples__block{
        width: 53rem;
        height: 22rem;
    }

    .content__examples__block__image{
        width: 26.1rem;
        height: 22rem;
    }
    
    .content__examples__block__image img{
        width: 26.1rem;
        height: 22rem;
    }
    
    .content__examples__block__text{
        height: 22rem;
    }

    .content__projects__block{
        width: 53rem;
        height: 14rem;
    }

    #app-design{
        background-size: cover;
    }
    
    #graphic-design{
        background-size: cover;
    }

    .content__git{
        width: 53rem;
    }

    .content__git{
        width: 53rem;
    }

    .footer__logo{
        width: 53rem;
    }

    .footer__logo img{
        width: 202px;
    }

    .footer__info{
        width: 53rem;
    }

    .footer__info__menu{
        margin-left: 30.1rem;
    }

    .footer__info__social{
        margin-left: 41.5rem;
    }
}

@media screen and (min-width: 1200px){
    body {
        background: url('../assets/shared/desktop/bg-pattern-leaf.svg');
        background-repeat: no-repeat;
        background-size: 1006px 594px;
        background-position: top 280px left;
    }

    .header {
        width: 69.4rem;
        height: 9.6rem;
        padding: 4rem 0;
    }

    .header__right-side__list{
        width: 25rem;
    }

    .header__right-side__list__link a{
        cursor: pointer;
        transition: border 0.5s;
    }

    .header__right-side__list__link a:hover{
        border-bottom: 1px solid #333136;
    }

    .content__design-block{
        width: 69.4rem;
        height: 15.75rem;
        background-position: 0 -160px;
        gap: 1.5rem;
    }

    .more-block h2{
        width: 45.6rem;
    }

    .more-block p{
        width: 45.6rem;
    }

    .content__examples{
        width: 69.4rem;
        margin: 10rem auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 1.8rem;
    }

    .content__examples__block{
        width: 21.8rem;
        height: 29.8rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content__examples__block__image{
        width: 100%;
        height: 20rem;
    }

    .content__examples__block__image img{
        width: 100%;
        height: 20rem;
        border-radius: 15px 15px 0 0;
    }

    .content__examples__block__text{
        height: 9.8rem;
        background-color: #FDF3F0;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0 1.8rem;
        transition: background-color 0.5s;
        cursor: pointer;
    }

    .content__examples__block:hover .content__examples__block__text{
        background-color: #E7816B;

    }

    .content__examples__block__text h2{
        transition: color 0.5s;
    }

    .content__examples__block:hover .content__examples__block__text h2{
        color: #fff;
    }

    .content__examples__block__text p{
        transition: color 0.5s;
    }

    .content__examples__block:hover .content__examples__block__text p{
        color: #fff;
    }

    .content__projects{
        flex-direction: row;
        justify-content: center;
        gap: 1.8rem;
    }

    .content__projects__block{
        width: 33.8rem;
        height: 19.25rem;
        cursor: pointer;
    }

    .hover__block{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        background-color: #00000028;
        border-radius: 15px;
    }

    .content__projects__block__title{
        font-size: 40px;
        line-height: 48px;
    }

    #app-design{
        background-image: url(../assets/home/desktop/image-app-design.jpg);
    }

    #graphic-design{
        background-image: url(../assets/home/desktop/image-graphic-design.jpg);
    }

    .content__git{
        margin-top: 10rem; 
        height: 18.25em;
        width: 69.4rem;
        background-position: 0px -220px;
        background-size: 100%;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        padding: 4.5rem 5.9rem;
        text-align: left;
    }

    .content__git h2{
        width: 17.4rem;
        font-size: 40px;
        line-height: 40px;
    }

    .content__git p{
        position: absolute;
        margin-top: 6rem;
        width: 28.6rem;
        font-size: 16px;
        line-height: 26px;
    }

    .content__git button{
        position: absolute;
        margin-top: 3rem;
        margin-left: 48.1rem;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
    }

    .content__git button:hover{
        background-color: #FFAD9B;
        color: #fff;
    }

    .footer{
        margin-top: 23.75rem;
        padding-top: 9rem;
    }

    .footer__logo{
        width: 69.4rem;
    }

    .footer__info{
        width: 69.4rem;
    }

    .footer__info__menu{
        margin-left: 46.4rem;
    }

    .footer__info__menu li{
        cursor: pointer;
        transition: border 0.5s;
    }

    .footer__info__menu li:hover{
        border-bottom: 0.5px solid #fff;
    }

    .footer__info__address__block{
        width: 21.8rem;
    }

    .footer__info__social{
        margin-left: 57.9rem;
    }

    .footer__info__social a{
        cursor: pointer;
        transition: fill 0.5s;
    }

    .footer__info__social a:hover svg path{
        fill: #FFAD9B;
    }

}